.container{
  background-color: white;
  padding: 24px;
}
.flex{
  justify-content: space-between;
  gap: 16px;
  margin-top: 16px;
}
.mb-4{
  margin-bottom: 16px;
}
.text-bold{
  font-weight: 500;
  font-size: 16px;
}
