.bg-white{
  background: white;
}

.active{
  background:   rgb(80, 35, 35);
  padding-left: calc(16px - 1px);
  border-radius: 4px;
  padding-top: 7px;
  padding-bottom: 7px;
}

.side-bar-top{
  padding: 16px 24px;
  position: sticky;
  top: 0;
}

.medium{
  font-size: 24px;
  font-weight: 600;
  font-style: italic;

  @media screen and (max-width: 768px){
    font-size: 16px;
    font-weight: 500;
  }
}

ul{
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 16px 24px;
  padding: 16px;
  cursor: pointer;

}
li{
  color: white;
  font-size: 16px;
  font-weight: 400;
  display: flex;
  gap: 10px;
  align-items: center;
  padding: 0px 12px;
}
li:hover{
  background:   rgb(80, 35, 35);
  padding-left: calc(16px - 6px);
  border-radius: 4px;
  padding-top: 7px;
  padding-bottom: 7px;
}
.container{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.logout-div{
  padding: 16px;
  margin-top: 300px;
  cursor: pointer;

}

.noHover{
  pointer-events: none;
}

.side-bar-holder {
  // display: flex;
  // flex-direction: column;
  // justify-content: space-between;
  position: relative;
  height: 100%;
  // align-items: ;
}
