<div class="fixed-padding-x flex flexy mt-4 sm">
  <div class="heading">
    <h4 class="heading-text">Users</h4>
  </div>
  <div>
    <app-button
      buttonStyles="btn"
      buttonText="Add User"
      (click)="createUser()"
    ></app-button>
  </div>
</div>

<div class="fixed-padding-x sm">
  <div class="table-holder mt-4 hide-scrollbar">
    <table class="fixed-padding-x">
      <thead>
        <tr>
          <th class="table-head">S/N</th>
          <th class="table-head">Name</th>
          <th class="table-head">Email</th>
          <th class="table-head">Role</th>
          <th class="table-head">&nbsp;</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of users; index as i">
          <td>{{ i + 1 }}</td>
          <td routerLink="/{{ this.item.id }}/view-user" class="cursor">
            {{ this.item.name.firstname | titlecase }}
            {{ this.item.name.lastname | titlecase }}
          </td>
          <td>{{ this.item.email }}</td>
          <td>{{ this.item.username | titlecase }}</td>
          <td class="large" mat-button [matMenuTriggerFor]="menu">
            :
            <mat-menu #menu="matMenu" class="menu">
              <button
                mat-menu-item
                routerLink="/{{ this.item.id }}/edit-user"
              >
                Edit User
              </button>
              <button
                mat-menu-item
                (click)="deleteUser(item)"
              >
                Delete User
              </button>
            </mat-menu>
          </td>
        </tr>
      </tbody>
    </table>

    <div class="flex-end" *ngIf="users && users?.length !== 0">
      <pagination-controls
        (pageChange)="onPageChange($event)"
        (pageBoundsCorrection)="onPageBoundsCorrection($event)"
        [maxSize]="8"
        [directionLinks]="true"
        [responsive]="true"
        [autoHide]="false"
        previousLabel="Previous"
        nextLabel="Next"
        screenReaderPaginationLabel="Pagination"
        screenReaderPageLabel="page"
        screenReaderCurrentLabel="You're on page"
      >
      </pagination-controls>
    </div>
  </div>
</div>
