.table-holder {
  overflow-y: auto !important;
  background-color: white;
  border-radius: 7px;
  border: 0;
  padding: 20px;
  margin-bottom: 40px;
  margin-top: 40px;
}
.table-holder table {
  width: 100%;
  white-space: nowrap;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 16px;
  padding-right: 16px;
}
.table-holder table td {
  text-align: center;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 12px;
  padding-right: 12px;
  font-size: 14px;
  white-space: nowrap;
}
thead{
  background-color: #7C001F;
  color: white;
  font-size: 0.875rem;
	text-transform: uppercase;
	letter-spacing: 2%;

}
tbody tr:nth-child(odd) {
  background-color: #fff;
}

tbody tr:nth-child(even) {
  background-color: #eee;
}

.table-head{
  padding-top: 12px !important;
  padding-bottom: 12px !important;
}
.dashboard-div{
  position: sticky;
  top: 0;
  z-index: 20;
  padding: 16px 0px;
  border: 1px solid ;
  border-top: black;
  border-bottom: black;
}

.flexy{
  justify-content: space-between;
  align-items: center;
  justify-items: center;
}
.large{
  font-size: 20px !important;
  font-weight: 600 !important;
  cursor: pointer;
}
.menu{
  width: 234px;
}
.text-bold{
  font-weight: 500;
  font-size: 16px;
}
.heading{
  padding: 16px 0px;

  .heading-text{
    font-size: 24px;
    font-weight: 500;
    color: #7C001F;
  }
}
.flex-end{
  display: flex;
  justify-content: flex-end;
}

.mt-2{
  margin-top: 8px;
}

@media (max-width: 768px) {
  .table-holder table {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 12px;
    padding-right: 12px;
  }
  .heading{
    padding: 12px 0px;

    .heading-text{
      font-size: 18px;
      font-weight: 500;
      color: #7C001F;
    }
  }
  .table-holder table td {
    text-align: center;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 8px;
    padding-right: 8px;
    font-size: 14px;
    white-space: nowrap;
  }
}
