.form-container{
  padding: 1rem 0rem;
  background-color: #fff;
  border-radius: 0.25rem;
  padding-top: 2.5rem;
  padding-bottom: 5rem;
  margin-top: 20px;
  margin-bottom: 50px;
}


.heading{
  padding: 16px 4px;
  display: flex;
  gap: 12px;
  justify-items: center;

  .heading-text{
    font-size: 24px;
    font-weight: 500;
    color: #7C001F;
  }
}
.hoverme {
  cursor: pointer;
  transition: 0.3s;
svg {
  transition: 0.3s;
}
}

.hoverme:hover {
  span {
      font-weight: 700;
  }
svg {
  transform: translateX(-5px);
}
}
.header{
  font-weight: bold;
  font-size: 1.5rem;
  text-align: left;
  color: #7C001F;
}
.text-bold{
  font-weight: 500;
  font-size: 16px;
}
.py-5{
  padding-top: 16px;
  padding-bottom: 16px;
}

.form-holder{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap:50px;
}
.custom-input {
  width: 100%;
  padding-top: 0.75rem;
  padding-bottom: 0.625rem;
  padding-left: 0.625rem;
  padding-right: 0.75rem;
  border-radius: 0.25rem;
  background-color: #F7F7F7;
  font-size: 0.875rem;
  line-height: 1.25rem;
  border: 1px solid #F7F7F7;
  outline: none;
}

.custom-input:focus {
  background-color: white;
  border-width: 2px;
  border-color: #a13d5683;
}

.button-div{
  justify-self: center;

}

.submit-btn{
  display: flex;
  justify-content: end;
}

.mt-6 {
  margin-top: 1.5rem;
}

@media screen and (min-width: 768px) {
  .md\:mt-10 {
      margin-top: 2.5rem;
  }
}

.w-full {
  width: 100%;
}

.text-red{
  color: red !important;
  font-size: x-small;
}
.mt-1{
  margin-top: 4px;
}
.red{
  color: red !important;
  font-size: 16px;
}

@media (max-width: 768px){
.heading{
  padding: 10px 4px;
  display: flex;
  gap: 8px;
  justify-items: center;

  .heading-text{
    font-size: 18px;
    font-weight: 500;
    color: #7C001F;
  }
}
  .name-div{
    gap: 4px;
  }
  .form-container{
    padding: 0.5rem 1.5rem;
    padding-top: 1.5rem;
    padding-bottom: 3rem;
    margin-top: 10px;
    margin-bottom: 30px;
  }

  .submit-btn{
    display: flex;
    justify-content: center;
    margin-top: 30px;
  }
  .btn{
    padding: 40px 12px !important;
  }
}

@media (max-width: 365px){
    .form-holder{
      grid-template-columns: 1fr;
      gap:10px;
    }

  }
